    @font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: InterTight;
    src: url(fonts/InterTight-Regular.ttf);
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
    color: white;
    user-select: none;
    font-family: Inter, sans-serif;
    position: relative;
    overflow: hidden;
}

.main {
    display: flex;
    gap: 120px;
    align-items: flex-start;
}

/* vänster sida */
.left h3 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.vbucks-img {
    width: 300px;
    transition: opacity 0.1s;
}

.vbucks-img:hover {
    cursor: pointer;
    opacity: 0.8;
}
.vbucks-img:active {
    opacity: 0.7;
}


/* blå text för viktiga nummer */
.blue-text {
    font-size: 32px;
    font-weight: 600;
    color:rgb(50, 111, 241);
    text-shadow: 2px 2px 3px rgba(90, 90, 90);
}

/* statistics */
.statistics {
    position: absolute;
    bottom: 0;
    width: 450px;
    padding: 30px;
    left: 45%;
    transform: translate(-50%);
}


/* vpc, vps */
.texts {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
}



/* vbucks animation */
.vbucks-img-container {
    position: relative;
}

.fade-up {
    animation: fade-up 1s;
}

@keyframes fade-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    20% {
        transform: translateY(-5px);
        opacity: 0.9;
    }
    40% {
        transform: translateY(-13px);
        opacity: 0.75;
    }
    60% {
        transform: translateY(-25px);
        opacity: 0.55;
    }
    80% {
        transform: translateY(-42px);
        opacity: 0.3;
    }
    100% {
        transform: translateY(-65px);
        opacity: 0;
   }
}


/* buttons */
.Prestige {
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-size: 15px;
	padding: 6px 24px;
    position: relative;
    left: 92px;
    display: none
}


.Reset {
    background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-size: 15px;
	padding: 6px 24px;
    position: relative;
    left: 92px;
}

.Reset:hover {
    opacity: 0.7;
}


/* upgrades */
.upgrade {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center;
    width: 300px;
    min-height: 70px;
    border: 3px solid gray;
    padding: 10px 15px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px;
    background-color: #3b3b3b;
    transition: border-color 0.1s, opacity 0.1s;
}

.upgrade:hover {
    cursor: pointer;
    border-color: white;
}
.upgrade:active {
    opacity: 0.7;
}

.upgrade .upgrade-img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    flex-shrink: 0;
    margin-right: 10px;
}

.mid-upgrade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.mid-upgrade h4 {
    margin: 0;
    font-size: 18px;
}

.cost-info {
    display: flex;
    align-items: center;
    gap: 1px;
    margin-top: 6px;
    justify-content: center;
}

.cost-info img {
    width: 20px;
}

.right-upgrade {
    flex-shrink: 0;
    margin-left: 10px;
    text-align: right;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

/* info box i upgrades */
.info-box {
    position: absolute;
    right: -115px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5a595a;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 15px;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
    display: none;
}
.upgrade:hover .info-box {
    display: flex;
}

.right {
    max-height: 400px;
    width:550px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    white-space: nowrap;
}